body{
    color: white;
    background-color: black;
    font-family: 'Orbitron';
 
    padding: 5%;
}


.btn-green{
    border-radius: 10% ;
    height: 200px;
    width: 200px;
    background-color: green;
}

.btn-yellow{
    border-radius: 10% ;
    height: 200px;
    width: 200px;
    background-color: yellow;
}
.btn-red{
    border-radius: 10% ;
    height: 200px;
    width: 200px;
    background-color: red;
}
.btn-blue{
    border-radius: 10% ;
    height: 200px;
    width: 200px;
    background-color: blue;
}